.container {
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
    background: blueviolet;
    height: 500px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.box {
    width: 150px;
    background-color: cadetblue;
    margin: 0 10px;
}

@media (max-width:1024px) {
    .container {
        background:green;
    }
    .box {
        background:white
    }
}

@media(max-width:768px) {
    .container {
        background: purple;
    }
}

@media(max-width:480px) {
    .container {
        background: rgb(5, 0, 53);
    }
}